*
  margin 0
  padding 0

*, *:before, *:after
  -webkit-box-sizing border-box
  box-sizing border-box

windowsGrayLight = rgba(192, 192, 192, 1)
windowsGrayMedium = rgba(128, 128, 128, 1)
windowsGrayDark = rgba(64, 64, 64, 1)
colorOfMenu = rgba(0, 0, 0, 0.75)
maximumWhite = rgba(255, 255, 255, 1)

transitionTime = 0.5s

@font-face
  font-family commandPrompt
  src url("Command-Prompt-12x16.ttf")

body
  background rgba(0, 0, 0, 1)
  font-size 1em
  font-family commandPrompt
  color windowsGrayLight
      
.hoveredOver
  color maximumWhite
  
.spacer 
  height 50px

.general
  width 100%
  transition all transitionTime

.general 
  .menu
    transition all transitionTime
    width 400px
    height 100%
    position fixed
    top 0px
    left -400px
    right 0
    display inline-block
    padding-top 20px
    overflow hidden
    
    .indent
      margin-left 50px
            
    p
      color windowsGrayLight
      transition all transitionTime
      &.hoveredOver, &:hover
        @extend .hoveredOver

    &.revealed
      left: 0px
      position fixed
        
  .content
    margin-top 50px
    margin-left 100px
    margin-right 100px
    text-alight left
    font-weight 200
    line-height 120%
    transition all transitionTime
    
    &.revealed
      -webkit-filter blur(8px)
    
    .indent
      margin-left 50px
      
    .title
      margin-left -50px
      color windowsGrayDark
    
    .heading
      color windowsGrayMedium
      

        






  
  