*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: CtCommandPrompt;
  src: url("Command-Prompt-12x16.ttf");
}
body {
  background: #000;
  color: #c0c0c0;
}
.content {
  width: 100%;
  height: 100%;
  transition: all 1s;
}
.container {
  box-sizing: border-box;
  width: 100%;
}
.row {
  content: '';
  display: table;
  clear: both;
}
.column {
  float: left;
  padding-left: 1em;
  padding-right: 1em;
  width: 194px;
  min-height: 1.75em;
}
.column.quarter {
  width: 44px;
}
.column.half {
  width: 97px;
}
.column.oneAndHalf {
  width: 291px;
}
.column.double {
  width: 388px;
}
.column.super {
  width: 100%;
}
.indent {
  margin-left: 50px;
}
.spacer {
  height: 50px;
}
.break {
  height: 1em;
}
.alive {
  background: url("checkboxTrue.png");
  width: 185px;
  height: 19px;
  outline: none;
}
.alive.false {
  background: url("checkboxFalse.png");
}
.point {
  transition: all 0.5s;
  font-smooth: never;
  webkit-font-smoothing: none;
  -webkit-font-smoothing: none;
  font-family: CtCommandPrompt;
  font-size: 1em;
  color: #c0c0c0;
  line-height: 120%;
}
.point.hidden {
  color: #000;
}
.formTitle {
  font-smooth: never;
  webkit-font-smoothing: none;
  -webkit-font-smoothing: none;
  font-family: CtCommandPrompt;
  font-size: 1em;
  color: #c0c0c0;
  line-height: 120%;
  width: 10em;
}
.box {
  border: 2px solid;
  border-color: #c0c0c0;
  padding: 1em;
}
.box.center {
  display: table;
  margin: auto;
  width: auto;
  height: auto;
}
.block {
  display: inline-block;
  white-space: nowrap;
}
.input {
  transition: all 1s;
  margin-right: 1em;
  padding-left: 1em;
  padding-right: 0em;
  width: 185px;
  font-smooth: never;
  webkit-font-smoothing: none;
  -webkit-font-smoothing: none;
  font-family: CtCommandPrompt;
  font-size: 1em;
  color: #c0c0c0;
  line-height: 120%;
  background: #404040;
  border: none;
  outline: none;
}
.input.special {
  background: #403a20;
}
.input.verySpecial {
  background: #302a14;
}
.input.half {
  width: 88px;
}
.input.oneAndHalf {
  width: 282px;
}
.input.double {
  width: 379px;
}
.input.problem {
  background: #f23d21;
  color: #000;
}
.input.success {
  background: #0aca1a;
  color: #000;
}
.input.hidden {
  padding: 0em;
  margin-bottom: 0em;
  color: #000;
  background: #000;
}
.submit {
  transition: all 0.25s;
  width: 185px;
  padding-left: 0em;
  padding-right: 0em;
  font-smooth: never;
  webkit-font-smoothing: none;
  -webkit-font-smoothing: none;
  font-family: CtCommandPrompt;
  font-size: 1em;
  color: #000;
  line-height: 120%;
  background: #404040;
  text-decoration: none;
  border: none;
  outline: none;
}
.submit.half {
  width: 88px;
}
.submit.critical {
  background: #f23d21;
}
.submit.critical:hover {
  background: #f29d31;
}
.submit.current {
  background: #c0c0c0;
  color: #404040;
}
.submit.double {
  width: 370px;
}
.submit.add {
  margin-top: 1.2em;
}
.submit:hover {
  background: #c0c0c0;
  color: #404040;
}
