doctype html
html
  head
    title Philosophical Comment of 20141027
    link(rel='stylesheet' type='text/css' href='public/css/business.css')
  body
    // Try out general and title without the class
    #general.general
      #title.title
        .left
          p Chadtechs Philosophical Comment of 20141027
      .content
        .heading
          p 0. McDowells Article
        p I tried to read McDowells article. I cut it short though, I found it difficult to follow.
        br
        p Ill list some small replies to what I have been able to follow from the reading as well as your Joes summary.
        br
        .indent
          p 0. I dont consider propositions like 'Fangs are made of bone' scientific. Yes I think propositions of that sort are real, but I think it takes more than real subject matter to be scientific. Predictivity(?), and falsification are parts a scientific proposition must contain (roughly speaking).
          br
          p 1. If I were ask 'what does it mean to inspire fear?' does 'having fangs' count as an answer? If I explained fearsomeness in terms of physical qualities would this be a 'mental reduction'? And given that each way is a reduction of some sort, what is the role of a reduction in an explanation? What does knowing a property of sort a, correlates to a property of sort b mean to us?
          br
          p 2. Joe says 'We have fully explained the monster from a physical point of view', and then asks 'but what is left out?' I dont think anything is left out. Either the explanation is complete, within the scope of a physical explanation, or the explanation is not complete and it never can be so long as we are free to invent further inadequacies with it.
          br
          p 3. McDowell says 'No doubt it is true that a given thing is red in virtue of some microscopic textual property on its surface'. I really dont agree with him here. Measuring light waves is not relevant in the practice red-identification, especially not to people who never had a notion as wave length. There must be a bottom to any explanation and that humans see redness is as good of a bottom as any other. I agree that something is red if it has some surface quality conductive to reflecting and absorbing certain wave lengths (maybe!), but this is an empirical proposition, and such a proposition reflects nothing about what it means to be a person seeing red.
          br
        .heading
          p 1. My Point 1
        p I think Joes comment that a rule does not necessitate a 'converse' is about right. Another thing that could be said, is that if there was such a converse, it would have the same 'propositional content' of its 'argument' if that makes sense. As in, if I were to say 'badness is essentially the absence of goodness', the meaning of badness would be entirely dependent on the meaning of goodness (and perhaps negation). There would be no unique content to badness, that would warrant a unique philosophic item.
        br
        .heading
          p 2. Amalgamization
        p Well, I worry that formalizing this could be a pitfall, but anyways, to define it; Amalgamization is the is the creation if a new concept by means of the mixture of two prior ones, on the basis that discriminating between the two priors is useless. Those whos intellect is purely scientific are constantly tempted to recognize redness as identical with a wave length of light. The concept of a certain wave length of light and redness amalgamize for the reason that discriminating between the two has no (scientific) use. It would be a kind of 'mental hick up' that a healthy person wouldnt experience; to distinguish elements which have uniqueness that is not purposeful.
        br
        p -Ct

        br
        br
        br
        br
        br

    script(src='public/js/main.js')
