* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: commandPrompt;
  src: url("Command-Prompt-12x16.ttf");
}
body {
  background: #000;
  font-size: 1em;
  font-family: commandPrompt;
  color: #c0c0c0;
}
.hoveredOver,
.general .menu p.hoveredOver,
.general .menu p:hover {
  color: #fff;
}
.spacer {
  height: 50px;
}
.general {
  width: 100%;
  transition: all 0.5s;
}
.general .menu {
  transition: all 0.5s;
  width: 400px;
  height: 100%;
  position: fixed;
  top: 0px;
  left: -400px;
  right: 0;
  display: inline-block;
  padding-top: 20px;
  overflow: hidden;
}
.general .menu .indent {
  margin-left: 50px;
}
.general .menu p {
  color: #c0c0c0;
  transition: all 0.5s;
}
.general .menu.revealed {
  left: 0px;
  position: fixed;
}
.general .content {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  text-alight: left;
  font-weight: 200;
  line-height: 120%;
  transition: all 0.5s;
}
.general .content.revealed {
  -webkit-filter: blur(8px);
}
.general .content .indent {
  margin-left: 50px;
}
.general .content .title {
  margin-left: -50px;
  color: #404040;
}
.general .content .heading {
  color: #808080;
}
